{% extends "asistencia/base.html" %}

{% block content %}

<div class="card col-md-6 mx-auto">
    <div class="card-header fw-bold">{{ titulo }}</div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label class="form-label">Nombre</label>
                {{ form.nombre }}
            </div>
            <div class="mb-3">
                <label class="form-label">Apellido</label>
                {{ form.apellido }}
            </div>
            <div class="form-check mb-3">
                {{ form.activo }}
                <label class="form-check-label">Activo</label>
            </div>
            <button class="btn btn-dark">Guardar</button>
        </form>
    </div>
</div>

{% endblock %}